<div>
  <div class="post">
    <h1>{{cat-name}} Index</h1>
    <ul>
      {{#posts}}
        <li>{{date}} &rarr; <a href="{{post-uri}}">{{post-title}}</a></li>
      {{/posts}}
    </ul>
  </div>
</div>
