<div>
  {{#show-meta}}
  <div class="post-meta">
    <span class="post-info">{{{date}}}</span>
    {{#mod-date}}<span class="post-info">{{mod-date}}</span>{{/mod-date}}
    {{{tag-links}}}
    <span class="post-info">{{author}}</span>
  </div>
  {{/show-meta}}
  <script src="/media/js/jquery-2.1.3.min.js"></script>
  <script src="/media/js/md5.min.js"></script>
  <link href="https://yiyechat.com/open-source/build/content-static/css/main.css" rel="stylesheet">
  <script src="https://yiyechat.com/open-source/build/content-static/js/main.js"></script>
  {{#show-comment}}
  <section>
      <div id="gitalk-container"></div>
      <script type="text/javascript">
       var gitalk = new Gitalk({
           clientID: 'fdcb5d9da3f4acb4862c',
           clientSecret: 'dd0a16312a206782cb7669dcec5e96874ab48170',
           repo: 'lujun9972.github.com',
           owner: 'lujun9972',
           admin: ['lujun9972'],
           id: md5(location.pathname),
           distractionFreeMode: false
       })
       gitalk.render('gitalk-container')
      </script>
  </section>
  {{/show-comment}}
  <script src="/media/js/kdComment.js"></script>
  {{#google-analytics}}
      <script>
       var _hmt = _hmt || [];
       (function() {
           var hm = document.createElement("script");
           hm.src = "https://hm.baidu.com/hm.js?{{google-analytics-id}}";
           var s = document.getElementsByTagName("script")[0];
           s.parentNode.insertBefore(hm, s);
       })();
      </script>
  {{/google-analytics}}
  <footer class="footer">
    <p>Generated by {{{creator-info}}}</p>
    <p>
      Copyright &copy; 2014 - <span id="footerYear"></span> <a href="mailto:{{email}}">{{author}}</a>
      &middot;
      Powered by <a href="https://github.com/emacs-china/EGO" target="_blank">EGO</a>
      &middot;
      Themed with <a href="https://github.com/kuangdash/emacs_love" target="_blank">emacs_love</a>
    </p>
    <p>
      <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license"><img src="https://licensebuttons.net/l/by-sa/3.0/88x31.png" style="border-width:0" alt="Creative Commons License" class="center"></a>
    </p>
    <script type="text/javascript">document.getElementById("footerYear").innerHTML = (new Date()).getFullYear();</script>
  </footer>
</div>
