<head>
  <title>{{page-title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="author" content="{{author}}" />
  {{#description}}
  <meta name="description" content="{{description}}" />
  {{/description}}
  {{#keywords}}
  <meta name="keywords" content="{{keywords}}" />
  {{/keywords}}
  <meta name="theme-color" content="#FAFAF7">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400&family=Source+Sans+3:ital,wght@0,400;0,500;0,600;1,400&family=JetBrains+Mono:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/media/css/org-src-fontify.css" type="text/css">
  <link rel="stylesheet" href="/media/css/kdComment.css" type="text/css">
  <link rel="stylesheet" href="/media/css/main.css" type="text/css">
  <script async type="text/javascript"
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script defer src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
</head>
